 <aside class="sidebar">
    <details open>
      <summary>☰ Menú</summary>
      <a href="dashboard.html">Dashboard</a>
      <a href="admin-usuarios.html">Admin</a>
      <a href="expedientes.html">Expedientes</a>
      <a href="modulo-ia.html">Módulo IA</a>
      <a href="alertas.html">Alertas</a>
      <a href="documentos.html">Documentos</a>
      <a href="reportes.html">Reportes</a>
      <a href="pqrs.html">PQRS</a>
    </details>
        
    <!-- Botón de cierre de sesión -->
    <a href="../index.html" class="logout" onclick="cerrarSesion(); return false;">Cerrar sesión</a>
</aside>
